<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="MPP Platform" value="https://pkgs.dev.azure.com/mypinpad/_packaging/dotnet-platform/nuget/v3/index.json" />
        <add key="Third-Party" value="https://pkgs.dev.azure.com/mypinpad/_packaging/dotnet-third-party/nuget/v3/index.json" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
</configuration>